
body {
  font-family: Arial, sans-serif;
  background-image: url("img/WhatsApp Image 2022-09-24 at 14.06.47.jpeg") ;
  background-size: 100%;
}

#battleInfo {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
}

.action-buttons-wrapper {
  width: 80%;
  margin: 25px auto;
}

.action-btn {
  margin-right: 10px;
}

.progress-bar-wrapper {
  width: 80%;
  padding-top: 25px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 40%;
  height: 40px;
  background: red;
}

.progress {
  width: 100%;
  height: 100%;
  background: green;
  padding: 0 10px;
  color: white;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  font-style: italic;
  transition: width 0.5s ease-out;
}

.progress-bar-hero {
  display: flex;
  flex-direction: row;
}

.progress-bar-dragon {
  display: flex;
  flex-direction: row-reverse;
}

.progress-bar-hero .progress {
  text-align: left;
}

.progress-bar-dragon .progress {
  text-align: right;
}

img{
  width: 25%;
  height: 20%;
  margin-left: 20%;
}

.dragon{
  margin-left: 10%;
 width: 30%;
}

p{
  color: aliceblue;
}
